.weather,
button {
  font-family: "Roboto Condensed", sans-serif;
  color: #09203f;
}

.weather {
  max-width: 600px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-radius: 20px;
  margin: 30px auto;
  display: block;
}

.container {
  display: block;
  margin: 0px auto;
  padding: 10px;
}

.citySearch {
  margin: 0 auto;
  padding: 10px 0px 20px 0px;
  text-align: center;
}

input {
  border: none;
  border-radius: 15px 5px 5px 15px;
  background: #aeccef;
  padding: 5px 5px 5px 10px;
}

.btn-primary {
  border-radius: 5px 15px 15px 5px;
  border-style: none;
  color: #09203f;
  padding: 5px 10px;
  background: #45efd3;
}

#btnCurrentLocation {
  background: #e1d7f9;
  border-style: none;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #19457e;
  color: #19457e;
  display: block;
  font-size: 18px;
  margin: 10px auto;
  padding: 5px 10px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 20px 0px 0px 0px;
}

p {
  font-size: 14px;
  font-weight: 250;
  padding: 0px 0px 20px 2px;
  font-weight: 250;
}

.degreesSelection {
  font-size: 28px;
  margin: 12px 0px 0px 0px;
}

.degreesSelection .active {
  color: #09203f;
  cursor: default;
}

.degreesSelection .active:hover {
  text-decoration: none;
}

.temperature {
  font-size: 100px;
  font-weight: 100px;
  margin: 0px 0px 10px 0px;
}

#forecast,
.gitLink {
  color: #076585;
}

#forecast {
  margin: 0px auto;
  text-align: center;
  padding-bottom: 20px;
  font-size: 24px;
}

img.forecastImg {
  max-width: 75%;
}

ul {
  list-style: none;
  text-align: left;
}

#weatherDescription {
  text-transform: capitalize;
}

.gitLink {
  padding: 30px 0px 0px 5px;
  margin: 30px auto;
}
