.weather,
button {
  font-family: "Roboto Condensed", sans-serif;
  color: #09203f;
}

.weather {
  max-width: 600px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-radius: 20px;
  margin: 30px auto;
  display: block;
}

.container {
  display: block;
  margin: 0px auto;
  padding: 10px;
}

.citySearch {
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.btn-primary {
  border-radius: 25px;
  border-style: none;
  color: #09203f;
  padding: 5px 10px;
  background: #45efd3;
}

#btnCurrentLocation {
  background: #45efd3;
  border-style: none;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #19457e;
  color: #09203f;
  display: block;
  font-size: 18px;
  margin: 30px auto;
  padding: 5px 10px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
}

p {
  font-size: 14px;
  font-weight: 250;
  padding: 0px 0px 20px 2px;
  font-weight: 250;
}

.degreesSelection {
  font-size: 28px;
  margin: 12px 0px 0px 0px;
}

.temperature {
  font-size: 100px;
  font-weight: 100px;
  margin: 0px 0px 10px 25px;
}

#farenheitLink:hover,
#celciusLink:hover {
  cursor: pointer;
  color: #de8ffd;
  text-decoration-line: underline;
}

.forecast,
.gitLink {
  color: #076585;
}

.forecast {
  font-weight: 300;
  margin: 0px auto;
}

ul {
  list-style: none;
  text-align: left;
}

#weatherDescription {
  text-transform: capitalize;
}

.gitLink {
  colormargin: 7px;
}
